<nav role="navigation">
  {{#link-to "projects"}}
    PROJECT
  {{/link-to}}
  {{#link-to "visuals"}}
    VISUAL
  {{/link-to}}
  {{#link-to "index" class="logo"}}
    <img src="/images/header-logo.png" alt="logo">
  {{/link-to}}
  {{#link-to "contact"}}
    CONTACT
  {{/link-to}}
  <a href="http://store.castequality.com">STORE</a>
</nav>
