<a class="product-link" href="http://store.castequality.com" target="_blank">
  <p class="background-text">store</p>
  <img class="hover-image" src="{{product.image}}">
</a>

<a class="instagram-link" target="_blank" href="{{instagram.link}}">
  <p class="background-text">instagram</p>
  <img class="hover-image" src="{{instagram.image}}">
</a>

{{social-links}}

<img class="brain-logo" src="/images/brain.png" alt="brain">
