body {
  width: $page-width;
  margin: auto;
}

header nav {
  @extend .header-text;

  min-width: $page-width;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: $element-margin * -1;

  a {
    display: inline-block;
    vertical-align: middle;
    height: $element-margin;
    margin: auto ($element-margin * 2);
  }
}

html {
  overflow-y: scroll;
}

iframe {
  border: none;
}

img {
  background: transparent;
  color: #fff;
}

.background-text {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.banner {
  margin-bottom: $element-margin;
}

.header-text {
  font-size: 11px;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-align: center;
}

.paging-link {
  display: block;
  margin: $element-margin;
  text-align: center;
}
