.splashes {
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  font-variant: small-caps;

  iframe {
    @include size($video-width $video-height);
    margin-bottom: $element-margin;
  }
}

.visuals {
  article {
    margin-bottom: 13px;
    width: 24%;
  }
}
