<article class="contact">
  <img class="brain-logo" src="/images/brain_hi_res.png" alt="brain">

  <p>An independently owned and operated company developed by a group of
  skateboarders brought together by one common interest.  Skateboarding has
  shaped the perspectives of everyone involved in CASTE and acts as the
  foundation of the brand. CASTE operates to create products based on the
  influence of our continually expanding and diverse library of communicative
  mediums. Our attention to detail transcends from visual media into physical
  products that all share the same regards to quality.

    <img class="script-logo" src="/images/script_logo.png" alt="caste quality">
  </p>

  <a href="mailto:info@castequality.com">CONTACT US</a>
</article>
