{{look-book pages=lookbook.pages page=page class="banners"}}

<section class="blog">
  <section class="posts">
    {{#each post in posts}}
      {{blog-post post=post}}
    {{/each}}
  </section>

  {{sticky-links instagram=instagram product=product}}
</section>
