<section class="splashes">
  {{outlet "video"}}
</section>

<section class="visuals">
  {{outlet "visual"}}

  {{#each visualGroup in visualsBySource}}
    <section {{bind-attr data-source=visualGroup.source}}>
      {{#each visual in visualGroup.content}}
        <article class="visual">
          {{#link-to "visuals.visual" visual}}
            <img {{bind-attr src=visual.thumbnail}}>
          {{/link-to}}
        </article>
      {{/each}}
    </section>
  {{/each}}
</section>
