<section class="videos">
  {{look-book pages=videos page=video}}
</section>

<section class="visuals">
  {{#each visual in visuals}}
    <article>
      {{#light-box href=visual.photo data-lightbox="visuals" inlineImage=false}}
        <img {{bind-attr src=visual.thumbnail}}>
      {{/light-box}}
    </article>
  {{/each}}
</section>
