<section class="videos">
  {{look-book pages=videos page=video}}
</section>

<section class="visuals">
  {{#each visuals as |visual|}}
    <article>
      {{#light-box href=visual.photo data-lightbox="visuals" inlineImage=false}}
        <img src="{{visual.thumbnail}}">
      {{/light-box}}
    </article>
  {{/each}}
</section>
