<section class="videos">
  {{look-book pages=videos page=video}}
</section>

{{outlet}}

<section class="visuals">
  {{#each visual in visuals}}
    <article>
      {{#link-to "visuals.visual" visual}}
        <img {{bind-attr src=visual.thumbnail}}>
      {{/link-to}}
    </article>
  {{/each}}
</section>
