<section class="splashes">
  <div class="carousel">
    <ul class="slides">
      {{#each splash in splashes}}
        <li>
          <iframe {{bind-attr src=splash.videoUrl}}></iframe>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section class="visuals">
  {{outlet}}

  {{#each visualGroup in visualsBySource}}
    <section {{bind-attr data-source=visualGroup.source}}>
      {{#each visual in visualGroup.content}}
        <article class="visual">
          {{#link-to "visuals.visual" visual}}
            <img {{bind-attr src=visual.thumbnail}}>
          {{/link-to}}
        </article>
      {{/each}}
    </section>
  {{/each}}
</section>
